body{
    margin:0;
    font-family: 'Courier New', Courier, monospace;
}
header{
    background-color: crimson;
    color: white;
    display: flex;
    justify-content: space-between;
    padding:10px;
}
header > nav > ul {
    display: flex;
}
header > nav > ul > li {
    list-style-type: none;
    padding-right: 10px;
}
header > nav > ul> li >a {
    text-decoration: none;
    color: wheat;
}
h1{
    margin: 0;
}
.elden-ring-picture{
    width: 300px;
    :hover.elden-ring-picture{
        width: 600px
}
body > main {
    display: flex;
}
#picture-box{
    padding-top: 50px;
}
body > footer{
    background-color: crimson;
    list-style-type: none;
    text-decoration: none;
    color: wheat;

    }
}






